* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
ul {
  list-style: none;
  padding-left: 0;
}
a {
  text-decoration: none;
  color: $black;
}
a:hover {
  text-decoration: none;
  color: $primary-color;
  cursor: pointer;
}

html {
  font-size: 62.5%;
}
.container-fluid {
  padding: 0 5%;
}

input:focus,
input:focus-visible {
  outline: none;
  box-shadow: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bfbfbf;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #bfbfbf;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #bfbfbf;
}
p {
  font-size: 1.6rem;
  color: #7b7979;
}
h2 {
  @include heading;

  span {
    color: $primary-color;
  }
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 1000;
}

.preloader #mdiv {
  background: #f7163426;
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: relative;
}

.preloader #mdiv .circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: relative;
}

.preloader #mdiv .circle img {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
  max-width: 60%;
}

.preloader #mdiv .circle h4 {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
  max-width: 60%;
}
.preloader #mdiv .circle .border {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  border-radius: 50%;
  border: 2px solid #f71634 !important;
  border-right: 2px solid transparent !important;
  -webkit-animation-name: Rotate;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: Rotate;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: Rotate;
  -ms-animation-duration: 2s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
}

@-webkit-keyframes Rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

// banner
.banner {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $primary-color;
    opacity: 0.5;
  }
  .container-fluid {
    position: relative;
    z-index: 2;
  }
  h1 {
    font-size: 6em;
    max-width: 70%;
    margin: 0 auto 40px;
    color: $white;
    @include roboto;
  }
  .disc {
    font-size: 2rem;
    max-width: 50%;
    margin: 0 auto 20px;
    color: $white;
    @include noto;
  }
  form {
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      flex: 0 0 30%;
      max-width: 30%;
      height: 5rem;
      padding: 2rem;
      font-size: 1.4rem;
      border: none;
      border-radius: 4rem 0 0 4rem;
    }
    button {
      width: 130px;
      border: none;
      background: $primary-color;
      color: $white;
      font-size: 2rem;
      font-weight: 500;
      height: 5rem;
      line-height: 5rem;
      border-radius: 0 4rem 4rem 0;
    }
  }
}

.banner-slider .slick-dots li button:before,
.banner-slider .slick-dots li.slick-active button:before {
  color: #fff;
}
.banner-slider .slick-dots li button:before {
  font-size: 15px;
}
.banner-slider .slick-dots {
  bottom: 30px;
}

// .slick-prev {
//   left: 0 !important;
// }
// .slick-next {
//   right: 0 !important;
// }

// .banner > div {
//   opacity: 0;
//   transform: translateY(50vh);
//   transition: all 3s ease;
// }
// .slick-active .banner > div {
//   opacity: 1;
//   transform: translateY(0);
// }
// .our_clients
.our_clients {
  padding: 20px 0;
  .container-fluid {
    .row {
      justify-content: center;
      align-items: center;

      > div {
        flex: 0 0 15%;
        max-width: 15%;
        img {
          max-width: 200px;
          -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
          filter: grayscale(100%);

          &:hover {
            -webkit-filter: none;
            filter: none;
            cursor: pointer;
          }
        }
      }
    }
  }
}

// jobs
.jobs {
  padding: 11rem 0;
  background: #f0eeee;

  .title-info {
    text-align: center;
  }

  .row {
    padding-top: 10rem;

    .Card {
      background: #2a2a681f;
      padding: 30px;
      min-height: 330px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      border-radius: 1rem;
      transition: all 0.4s ease-in-out;
      cursor: pointer;
      flex: 0 0 23%;
      max-width: 23%;
      margin: 0 15px 30px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: $secondary-color;
        border-radius: 1rem;
        clip-path: circle(0% at 100% 0);
        transition: all 0.4s ease-in-out;
      }
      &:hover::after {
        clip-path: circle(200% at 100% 0);
      }

      &:hover {
        transform: translateY(-20px);
      }
      &:hover .title {
        color: #fff;
      }

      img {
        max-width: 100px;
        margin: 20px auto;
        display: block;
        position: relative;
        z-index: 2;
      }
      .title {
        text-align: center;
        font-size: 2.5rem;
        color: #2a2a68;
        font-weight: bold;
        position: relative;
        z-index: 2;
      }
    }
  }
}

// about us
.about_us {
  padding: 11rem 0;
  .container-fluid {
    .row {
      > div:nth-child(2) {
        padding-left: 5rem;
        .heading {
          padding-top: 7rem;
          text-align: left;
        }
        .disc {
          font-size: 2rem;
          margin: 2rem 0;
        }
        .title {
          font-weight: 700;
          font-size: 2rem;
          color: $primary-color;
        }
      }

      ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        list-style: circle;
        padding-left: 20px;

        li {
          flex: 0 0 100%;
          max-width: 100%;
          margin-bottom: 5px;
          font-size: 20px;
          i {
            font-size: 2rem;
            color: $secondary-color;
          }
          span {
            font-size: 2rem;
            color: $secondary-color;
            font-weight: 600;
          }
        }
      }
    }
  }
}

// our_services
.our_services {
  padding: 11rem 0;
  background: #f0eeee;
  .title-info {
    text-align: center;
    margin-bottom: 6rem;
  }
  .Card {
    padding: 0 15px;
    .thumb {
      height: 300px;
      border-radius: 1rem;
      overflow: hidden;

      &:hover img {
        transform: scale(1.3);
      }

      img {
        object-fit: cover;
        height: 100%;
        transition: all 0.6s ease-in-out;
        border-radius: 1rem;
        display: block;
        width: 100%;
      }
    }
    .title {
      font-size: 2.5rem;
      margin: 1rem 0;
      font-weight: 600;
    }
  }
}

// newsletter

.newsletter {
  padding: 11rem 0;
  background: rgb(247, 22, 52);
  background: linear-gradient(
    90deg,
    rgba(247, 22, 52, 1) 0%,
    rgba(42, 42, 104, 1) 72%
  );
  .heading {
    color: #fff;
  }
  .title-info {
    text-align: center;
    color: #fff;
    margin-bottom: 2rem;
  }
  .form-subscribe {
    justify-content: center;
    display: flex;

    .input-group {
      justify-content: center;
      input {
        flex: 0 0 30%;
        max-width: 30%;
        height: 5rem;
        padding: 2rem;
        font-size: 1.4rem;
        border: none;
        border-radius: 4rem 0 0 4rem;
      }
      .input-group-btn button {
        width: 130px;
        border: none;
        background: $primary-color;
        color: $white;
        font-size: 2rem;
        font-weight: 500;
        height: 5rem;
        line-height: 3rem;
        border-radius: 0 4rem 4rem 0;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
      }
    }
  }
}

// case-study
.case-study {
  padding: 11rem 0;
  background: #fff;
  .title-info {
    text-align: center;
  }
  .container-fluid {
    .row {
      padding-top: 6rem;
      > div {
        padding: 0 15px;
        img {
          max-width: 100%;
        }
      }
    }
  }
}

// testimonials
.testimonials {
  padding: 11rem 0;
  background: #f0eeee;

  .heading {
    margin-bottom: 5rem;
  }

  .container-fluid {
    .row {
      > div {
        text-align: center;
        .user {
          width: 100px;
          border-radius: 50%;
          height: 100px;
          object-fit: cover;
          margin: 0 auto;
        }
        .user_message {
          max-width: 50%;
          margin: 1rem auto;
          font-size: 2rem;
        }
        .user_name {
          font-size: 3rem;
          font-weight: bold;
          margin-top: 1rem;
          color: $secondary-color;
        }
      }
    }
  }
  .slick-dots li button:before {
    font-size: 15px;
  }
  .slick-dots li button:before {
    color: $primary-color;
  }
}

// footer
.footer-section {
  padding-top: 5rem;
  background: #151414;
  position: relative;

  .footer-cta {
    border-bottom: 1px solid #373636;
  }
  .single-cta i {
    color: $primary-color;
    font-size: 30px;
    float: left;
    margin-top: 8px;
  }
  .cta-text {
    padding-left: 15px;
    display: inline-block;
  }
  .cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
  }
  .cta-text span {
    color: #757575;
    font-size: 15px;
  }
  .footer-content {
    position: relative;
    z-index: 2;
  }
  .footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
  }
  .footer-logo {
    margin-bottom: 30px;
  }
  .footer-logo img {
    max-width: 200px;
  }
  .footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 28px;
  }
  .footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
  }
  .footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
  }
  .footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
  }
  .facebook-bg {
    background: #3b5998;
  }
  .twitter-bg {
    background: #55acee;
  }
  .google-bg {
    background: #dd4b39;
  }
  .footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
  }
  .footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: $primary-color;
  }
  .footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
  }
  .footer-widget ul li a:hover {
    color: $primary-color;
  }
  .footer-widget ul li a {
    color: #878787;
    text-transform: capitalize;
    font-size: 1.6rem;
  }
  .subscribe-form {
    position: relative;
    overflow: hidden;
  }
  .subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #2e2e2e;
    border: 1px solid #2e2e2e;
    color: #fff;
    font-size: 14px;
  }
  .subscribe-form button {
    position: absolute;
    right: 0;
    background: $primary-color;
    padding: 13px 20px;
    border: 1px solid $primary-color;
    top: 0;
  }
  .subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
  }
  .copyright-area {
    background: #202020;
    padding: 25px 0;
  }
  .copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
  }
  .copyright-text p a {
    color: $primary-color;
  }
  .footer-menu li {
    display: inline-block;
    margin-left: 20px;
  }
  .footer-menu li:hover a {
    color: $primary-color;
  }
  .footer-menu li a {
    font-size: 14px;
    color: #878787;
  }
  .footer-logo span {
    color: #fff;
    font-size: 4rem;
  }
  .text-center.text-lg-left {
    display: flex;
    justify-content: center;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

// about us
.about_banner {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #f71634;
    opacity: 0.4;
  }

  img.BgImg {
    max-height: 470px;
    width: 100%;
    display: block;
    object-fit: cover;
  }
  h1 {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    color: #fff;
    font-size: 5vw;
    transform: translate(-50%, -50%);
    font-weight: bold;
    text-transform: capitalize;
  }
}

// aboutInfo

.aboutInfo {
  padding: 100px 0;
  h2 {
    text-align: left;
    text-transform: capitalize;
  }

  .info {
    max-width: 62%;
  }
  .img-animated {
    animation: animatated 2s ease-in-out infinite alternate-reverse both;
    max-width: 100%;
  }
  @keyframes animatated {
    0% {
      transform: translateY(30px);
    }
    100% {
      transform: translateY(-30px);
    }
  }
  ul {
    list-style: disclosure-closed;
    padding-left: 26px;
    li {
      font-size: 2rem;
    }
  }
}

// .our_achievement
.our_achievement {
  padding: 180px 0;
  background-image: url("../images/achievement.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
  }

  .container-fluid {
    position: relative;
    .row {
      > div {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          margin-right: 20px;
        }

        p {
          font-size: 4rem;
          font-weight: bold;
          color: #fff;
          margin-bottom: 0;
          line-height: 1.2em;
        }
        span {
          font-size: 1.8rem;
          color: #fff;
        }
      }
    }
  }
}

// our story

.our_story {
  padding: 100px 0;

  .container-fluid {
    .row {
      align-items: center;
      > div:first-child {
        img {
          max-height: 350px;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .info {
    max-width: 90%;
    margin: 50px auto 40px;
    text-align: center;
    font-size: 20px;
  }
  .owner {
    text-align: center;
    .name {
      font-size: 2.5rem;
      color: #f71634;
      font-weight: bold;
      margin-bottom: 0;
      margin-top: 20px;
    }
    img {
      max-width: 100px;
    }
  }
}

// why chose us

.whyChose_us {
  padding: 30px 0 100px;

  .title-info {
    text-align: center;
    margin-bottom: 70px;
  }

  .container-fluid {
    .row {
      align-items: center;
      > div:first-child {
        img {
          max-width: 100%;
        }
      }
      ul {
        li {
          display: flex;
          align-items: center;
          margin-bottom: 40px;

          i {
            margin-right: 25px;
            font-size: 6rem;
            color: #f71634;
          }

          p {
            max-width: 40%;
          }
        }
      }
    }
  }
}

// contact-us

.contact-us-form {
  padding: 100px 0;

  .title-info {
    margin-bottom: 70px;
  }

  .container-fluid {
    .row {
      > div:first-child {
        padding-right: 50px;
      }
    }
  }
  .form-group {
    margin-bottom: 20px;
  }
  .form-group input,
  .form-group textarea {
    width: 100%;
    border: 1px solid #cccc;
    padding: 15px 20px;
    font-size: 18px;
  }

  .form-group input:focus,
  .form-group input:focus-visible,
  .form-group textarea:focus,
  .form-group textarea:focus-visible {
    outline: 1px solid $primary-color !important;
  }
  .contact-address {
    background: $secondary-color;
    height: 100%;
    padding: 50px;
    text-align: center;
    color: #fff;
    display: grid;
    place-items: center;

    h4 {
      font-size: 2.5rem;
      font-weight: 600;
    }
    p {
      color: #ffffffa3;
      margin: 0 auto;
    }
    .address-info {
      max-width: 50%;
    }
  }
  button {
    background: $secondary-color;
    border: none;
    padding: 20px;
    min-width: 200px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;

    &:hover {
      background-color: $primary-color;
    }
  }
}
